<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="/WEB-INF/templates/plantilla.xhtml">

            <ui:define name="content">
                <f:event type="preRenderView" listener="#{articulos_bean.listar('F')}" />
                <p:growl id="msj" autoUpdate="true" />
        
        <h:form id="frm">
            <p:commandButton value="Nuevo" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgDatos').show();PF('statusDialog').hide();" actionListener="#{articulos_bean.setAccion('Registrar')}" update=":dlgDatos" icon="fa fa-plus" />
            
            <p:dataTable id="data" value="#{articulos_bean.lstArticulos}" var="articulo" paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                     rowsPerPageTemplate="5,10,15" rows="10">
                <p:column headerText="Codigo" width="14%">
                    <p:outputLabel value="#{articulo.codigo_articulo}" />
                </p:column>
                <p:column headerText="Descripcion" width="30%">
                    <p:outputLabel value="#{articulo.descripcion_articulo}" />
                </p:column>
                <p:column headerText="Precio Unidad" style="text-align: right;" width="14%">
                    <p:outputLabel value="#{articulo.precio_unidad_articulo}" >
                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
                    </p:outputLabel>
                </p:column>
                <p:column headerText="Cantidad" style="text-align: right;" width="14%">
                    <p:outputLabel value="#{articulo.cantidad}" />
                </p:column>
                <p:column headerText="Modificar" style="text-align: center;" width="14%">
                    <p:commandButton value="Editar" actionListener="#{articulos_bean.leerID(articulo)}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgDatos').show();PF('statusDialog').hide();" update=":dlgDatos" icon="fa fa-fw fa-edit" />
                </p:column>

                <p:column headerText="Eliminar" style="text-align: center;" width="14%">
                    <p:commandButton value="Eliminar" actionListener="#{articulos_bean.eliminar(articulo)}" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" update="data" icon="fa fa-fw fa-remove" />
                </p:column>
            </p:dataTable>
        </h:form>
        
        <p:dialog header="Datos" widgetVar="wdlgDatos" id="dlgDatos" width="1200">
            <h:form>
                <p:outputLabel value="Codigo Articulo" />
                <p:inputText value="#{articulos_bean.articulo.codigo_articulo}" />

                <p:outputLabel value="Descripcion Articulo" />
                <p:inputText value="#{articulos_bean.articulo.descripcion_articulo}" />

                <p:outputLabel value="Precio Unidad" />
                <p:inputText value="#{articulos_bean.articulo.precio_unidad_articulo}" />

                <p:outputLabel value="Cantidad" />
                <p:inputText value="#{articulos_bean.articulo.cantidad}" />

                <p:commandButton value="#{articulos_bean.accion}" actionListener="#{articulos_bean.operar()}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgDatos').hide();PF('statusDialog').hide();" update=":frm:data" />
                <p:commandButton value="Cancelar" immediate="true" oncomplete="PF('wdlgDatos').hide();"/>
            </h:form>
        </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>
