<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" lang="en">

    <body>

        <ui:composition template="/WEB-INF/templates/plantilla.xhtml">

            <ui:define name="content">
                <f:event type="preRenderView" listener="#{clientes_bean.listar('F')}" />
                <p:growl id="msj" autoUpdate="true" />
        
        <h:form id="frm">
            <p:commandButton value="Nuevo" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgDatos').show();PF('statusDialog').hide();" actionListener="#{clientes_bean.setAccion('Registrar')}" update=":dlgDatos" icon="fa fa-plus" />
            
            <p:dataTable id="data" value="#{clientes_bean.lstClientes}" var="cliente" >
                <p:column headerText="Codigo" >
                    <p:outputLabel value="#{cliente.codigo_cliente}" />
                </p:column>
                <p:column headerText="Nombre" >
                    <p:outputLabel value="#{cliente.nombre_cliente}" />
                </p:column>
                <p:column headerText="Estado" >
                    <p:outputLabel value="#{cliente.estado_cliente}" >
                        <f:converter converterId="estadoConverter" />
                    </p:outputLabel>
                </p:column>
                <p:column headerText="Modificar" style="text-align: center;">
                    <p:commandButton value="Editar" actionListener="#{clientes_bean.leerID(cliente)}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgDatos').show();PF('statusDialog').hide();" update=":dlgDatos" icon="fa fa-fw fa-edit" />
                </p:column>

                <p:column headerText="Eliminar" style="text-align: center;">
                    <p:commandButton value="Eliminar" actionListener="#{clientes_bean.eliminar(cliente)}" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" update="data" icon="fa fa-fw fa-remove" />
                </p:column>
            </p:dataTable>
        </h:form>
        
        <p:dialog header="Datos" widgetVar="wdlgDatos" id="dlgDatos" width="1200">
            <h:form>
                <p:outputLabel value="Codigo Cliente" />
                <p:inputText value="#{clientes_bean.cliente.codigo_cliente}" />

                <p:outputLabel value="Nombre Cliente" />
                <p:inputText value="#{clientes_bean.cliente.nombre_cliente}" />

                <p:outputLabel value="Estado Cliente" />
                <p:selectOneMenu value="#{clientes_bean.cliente.estado_cliente}">
                     <f:selectItem itemValue="AC" itemLabel="1. AC" />
                     <f:selectItem itemValue="BA" itemLabel="2. BA" />
                     <f:selectItem itemValue="MO" itemLabel="3. MO" />
                </p:selectOneMenu>

                <p:commandButton value="#{clientes_bean.accion}" actionListener="#{clientes_bean.operar()}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgDatos').hide();PF('statusDialog').hide();" update=":frm:data" />
                <p:commandButton value="Cancelar" immediate="true" oncomplete="PF('wdlgDatos').hide();"/>
            </h:form>
        </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>
