<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
		<h:head>
		   <f:facet name="first">
		       <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
		       <title>Proyecto de CRUD con JSF</title>
		   </f:facet>
		</h:head>
		<h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    Encabezado
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Pie de Pagina
                </p:layoutUnit>
                <p:layoutUnit position="west" size="243" header="Menu" collapsible="true">
                    <p:menu>
                        <p:submenu label="Mantenimientos">
                            <p:menuitem value="Articulos" url="javascript:cambioPagina('datatable-articulos.xhtml')" />
                            <p:menuitem value="Clientes" url="javascript:cambioPagina('datatable-clientes.xhtml')" />
                            <p:menuitem value="Pedidos" url="javascript:cambioPagina('datatable-pedidos.xhtml')" />
                            <p:menuitem value="Inicio" url="index.xhtml" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <iframe id="frame" style="width: 99%; height: 98%; text-align: center;" />
                </p:layoutUnit>
            </p:layout>
		</h:body>
    </f:view>
	<script type="text/javascript">
		//<![CDATA[
		var actual = 'index.xhtml';
		
		function cambioPagina(pagina) {
			if (pagina != actual) {
				$('#frame').attr('src', pagina);
				actual=pagina;
			}
		}
		
		function logout(xhr, status, args) {
			setTimeout(function() {
				window.location = 'login.xhtml';
			}, 500);
		}
		//]]>
	</script>
</html>