<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" lang="en">
<h:head>
	<!-- CARGA DE RECURSOS ESTATICOS -->
	<h:outputStylesheet name="css/estilos_tabla.css" />
</h:head>
<h:body>
    <h:panelGroup rendered="#{datatable_clientes_bean.cambios() }">
	<!-- FORMULARIO CONTENEDOR DEL DATATABLE -->
	<h:form id="formu_clientes">
	<p:outputLabel value="Para agregar un nuevo cliente, haga click en " />
    <h:commandLink id="cambios" value="crear Cliente"
			actionListener="#{datatable_clientes_bean.crear_cliente()}" />
	<br/>
		<h:dataTable id="tabla_clientes"
			value="#{datatable_clientes_bean.lista_clientes}" var="cliente"
			first="#{datatable_clientes_bean.primera_filapagina}" rows="10" frame="border"
			rules="all" styleClass="order-table" headerClass="order-table-header"
			footerClass="order-table-footer"
			rowClasses="order-table-odd-row,order-table-even-row">
			<p:column id="col_codigo">
				<f:facet name="header"><p:outputLabel value="Codigo Cliente" /></f:facet>
				<p:outputLabel id="codigo_cliente" value="#{cliente.codigo_cliente}" />
				<f:facet name="footer">
					<h:commandButton id="boton_anterior" value="anterior pagina"
						actionListener="#{datatable_clientes_bean.pagina_anterior}" />
				</f:facet>
			</p:column>
			<p:column id="col_nombre">
				<f:facet name="header"><p:outputLabel value="Nombre Cliente" /></f:facet>
				<p:outputLabel id="nombre_cliente" value="#{cliente.nombre_cliente}" />
				<f:facet name="footer">
					<h:commandButton id="boton_siguiente" value="siguiente pagina"
						actionListener="#{datatable_clientes_bean.pagina_siguiente}" />
				</f:facet>
			</p:column>
			<p:column id="col_estado_cliente">
				<f:facet name="header"><p:outputLabel value="Estado" /></f:facet>
				<f:facet name="footer"><p:outputLabel value="Total clientes: " /></f:facet>
				<p:outputLabel id="estado_cliente" value="#{cliente.estado_cliente}" />
				<f:facet name="footer">
					<p:outputLabel value="#{datatable_clientes_bean.lista_clientes.size()}" />
				</f:facet>
			</p:column>
			<p:column>
				<f:facet name="header"><p:outputLabel value="Opciones" /></f:facet>
				<h:commandLink value="Eliminar"
					action="#{datatable_clientes_bean.eliminar(cliente)}"
					onclick="return confirm('Estas seguro de eliminar el cliente?')" /> |
				<h:commandLink value="Modificar"
					action="#{datatable_clientes_bean.modificar(cliente)}" />	
			</p:column>
		</h:dataTable>
	</h:form>
    </h:panelGroup>
    <h:panelGroup rendered="#{datatable_clientes_bean.crear}">
        <p:outputLabel value="Agregar Cliente" />
	<h:form prependId = "false">
		<h:panelGrid columns="2" cellpadding="2" cellspacing="2">
			<p:outputLabel value="Codigo Cliente" />
			<p:inputText value="#{datatable_clientes_bean.cliente.codigo_cliente}" />

			<p:outputLabel value="Nombre Cliente" />
			<p:inputText value="#{datatable_clientes_bean.cliente.nombre_cliente}" />
			
			<p:outputLabel value="Estado" />
			<h:selectOneMenu value="#{datatable_clientes_bean.cliente.estado_cliente}">
			     <f:selectItem itemValue="AC" itemLabel="1. AC" />
			     <f:selectItem itemValue="BA" itemLabel="2. BA" />
			     <f:selectItem itemValue="MO" itemLabel="3. MO" />
			</h:selectOneMenu>
			
			<h:commandButton value="Crear" action="#{datatable_clientes_bean.crear()}" />
			<h:commandButton value="Cancelar" action="#{datatable_clientes_bean.cambiar()}" />
		</h:panelGrid>
	</h:form>
    </h:panelGroup>
    <h:panelGroup rendered="#{datatable_clientes_bean.modificar}">
        <p:outputLabel value="Modificando el cliente: #{datatable_clientes_bean.cliente.nombre_cliente}" />
	<h:form prependId = "false">
		<h:panelGrid columns="2" cellpadding="2" cellspacing="2">
			<p:outputLabel value="Codigo Cliente" />
			<p:outputLabel value="#{datatable_clientes_bean.cliente.codigo_cliente}" />

			<p:outputLabel value="Nombre Cliente" />
			<p:inputText value="#{datatable_clientes_bean.cliente.nombre_cliente}" />
			
			<p:outputLabel value="Estado" />
			<h:selectOneMenu value="#{datatable_clientes_bean.cliente.estado_cliente}">
			     <f:selectItem itemValue="AC" itemLabel="1. AC" />
			     <f:selectItem itemValue="BA" itemLabel="2. BA" />
			     <f:selectItem itemValue="MO" itemLabel="3. MO" />
			</h:selectOneMenu>
			
			<h:commandButton value="Modificar" action="#{datatable_clientes_bean.modificar()}" />
			<h:commandButton value="Cancelar" action="#{datatable_clientes_bean.cambiar()}" />
		</h:panelGrid>
	</h:form>
    </h:panelGroup>
        <p:messages id="mensajes" showDetail="true" closable="true" style="width:100%"/>
</h:body>
</html>