<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" lang="en">
<h:head>
	<!-- CARGA DE RECURSOS ESTATICOS -->
	<h:outputStylesheet name="css/estilos_tabla.css" />
</h:head>
<h:body>
    <h:panelGroup rendered="#{datatable_articulos_bean.cambios() }">
	<!-- FORMULARIO CONTENEDOR DEL DATATABLE -->
	<h:form id="formu_articulos">
	<p:outputLabel value="Para agregar un nuevo articulo, haga click en " />
    <h:commandLink id="cambios" value="crear Articulo"
			actionListener="#{datatable_articulos_bean.crear_articulo()}" />
	<br/>
		<h:dataTable id="tabla_articulos"
			value="#{datatable_articulos_bean.lista_articulos}" var="articulo"
			first="#{datatable_articulos_bean.primera_filapagina}" rows="10" frame="border"
			rules="all" styleClass="order-table" headerClass="order-table-header"
			footerClass="order-table-footer"
			rowClasses="order-table-odd-row,order-table-even-row">
			<p:column id="col_codigo">
				<f:facet name="header"><p:outputLabel value="Codigo Articulo" /></f:facet>
				<p:outputLabel id="codigo_articulo" value="#{articulo.codigo_articulo}" />
				<f:facet name="footer">
					<h:commandButton id="boton_anterior" value="anterior pagina"
						actionListener="#{datatable_articulos_bean.pagina_anterior}" />
				</f:facet>
			</p:column>
			<p:column id="col_descripcion">
				<f:facet name="header"><p:outputLabel value="Descripcion Articulo" /></f:facet>
				<p:outputLabel id="descripcion_articulo" value="#{articulo.descripcion_articulo}" />
				<f:facet name="footer">
					<h:commandButton id="boton_siguiente" value="siguiente pagina"
						actionListener="#{datatable_articulos_bean.pagina_siguiente}" />
				</f:facet>
			</p:column>
			<p:column id="col_precio">
				<f:facet name="header"><p:outputLabel value="Precio Unidad" /></f:facet>
				<p:outputLabel id="precio_unidad_articulo" value="#{articulo.precio_unidad_articulo}" />
			</p:column>
			<p:column id="col_cantidad">
				<f:facet name="header"><p:outputLabel value="Cantidad" /></f:facet>
				<f:facet name="footer"><p:outputLabel value="Total articulos: " /></f:facet>
				<p:outputLabel id="cantidad" value="#{articulo.cantidad}" />
				<f:facet name="footer">
					<p:outputLabel value="#{datatable_articulos_bean.lista_articulos.size()}" />
				</f:facet>
			</p:column>
			<p:column>
				<f:facet name="header"><p:outputLabel value="Opciones" /></f:facet>
				<h:commandLink value="Eliminar"
					action="#{datatable_articulos_bean.eliminar(articulo)}"
					onclick="return confirm('Estas seguro de eliminar el articulo?')" /> |
				<h:commandLink value="Modificar"
					action="#{datatable_articulos_bean.modificar(articulo)}" />	
			</p:column>
		</h:dataTable>
	</h:form>
    </h:panelGroup>
    <h:panelGroup rendered="#{datatable_articulos_bean.crear}">
        <p:outputLabel value="Agregar Articulo" />
	<h:form prependId = "false">
		<h:panelGrid columns="2" cellpadding="2" cellspacing="2">
			<p:outputLabel value="Codigo Articulo" />
			<p:inputText value="#{datatable_articulos_bean.articulo.codigo_articulo}" />

			<p:outputLabel value="Descripcion Articulo" />
			<p:inputText value="#{datatable_articulos_bean.articulo.descripcion_articulo}" />
			
			<p:outputLabel value="Precio Unidad Articulo" />
			<p:inputText value="#{datatable_articulos_bean.articulo.precio_unidad_articulo}" />

			<p:outputLabel value="Cantidad" />
			<p:inputText value="#{datatable_articulos_bean.articulo.cantidad}" />
			
			<h:commandButton value="Crear" action="#{datatable_articulos_bean.crear()}" />
			<h:commandButton value="Cancelar" action="#{datatable_articulos_bean.cambiar()}" />
		</h:panelGrid>
	</h:form>
    </h:panelGroup>
    <h:panelGroup rendered="#{datatable_articulos_bean.modificar}">
        <p:outputLabel value="Modificando el articulo: #{datatable_articulos_bean.articulo.descripcion_articulo}" />
	<h:form prependId = "false">
		<h:panelGrid columns="2" cellpadding="2" cellspacing="2">
			<p:outputLabel value="Codigo Articulo" />
			<p:outputLabel value="#{datatable_articulos_bean.articulo.codigo_articulo}" />

			<p:outputLabel value="Descripcion Articulo" />
			<p:inputText value="#{datatable_articulos_bean.articulo.descripcion_articulo}" />
			
			<p:outputLabel value="Precio Unidad Articulo" />
			<p:inputText value="#{datatable_articulos_bean.articulo.precio_unidad_articulo}" />

			<p:outputLabel value="Cantidad" />
			<p:inputText value="#{datatable_articulos_bean.articulo.cantidad}" />
			
			<h:commandButton value="Modificar" action="#{datatable_articulos_bean.modificar()}" />
			<h:commandButton value="Cancelar" action="#{datatable_articulos_bean.cambiar()}" />
		</h:panelGrid>
	</h:form>
    </h:panelGroup>
        <p:messages id="mensajes" showDetail="true" closable="true" style="width:100%"/>
</h:body>
</html>