<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui" lang="en">
<h:head>
	<!-- CARGA DE RECURSOS ESTATICOS -->
	<h:outputStylesheet name="css/estilos_tabla.css" />
</h:head>
<h:body>
    <h:panelGroup rendered="#{datatable_pedidos_bean.cambios() }">
	<!-- FORMULARIO CONTENEDOR DEL DATATABLE -->
	<h:form id="formu_pedidos">
	<p:outputLabel value="Para agregar un nuevo pedido, haga click en " />
    <h:commandLink id="cambios" value="crear Pedido"
			actionListener="#{datatable_pedidos_bean.crear_pedido()}" />
	<br/>
		<h:dataTable id="tabla_pedidos"
			value="#{datatable_pedidos_bean.lista_pedidos}" var="pedido"
			first="#{datatable_pedidos_bean.primera_filapagina}" rows="10" frame="border"
			rules="all" styleClass="order-table" headerClass="order-table-header"
			footerClass="order-table-footer"
			rowClasses="order-table-odd-row,order-table-even-row">
			<p:column id="col_numero">
				<f:facet name="header"><p:outputLabel value="Numero Pedido" /></f:facet>
				<p:outputLabel id="numero_pedido" value="#{pedido.numero_pedido}" />
				<f:facet name="footer">
					<h:commandButton id="boton_anterior" value="anterior pagina"
						actionListener="#{datatable_pedidos_bean.pagina_anterior}" />
				</f:facet>
			</p:column>
			<p:column id="col_fecha">
				<f:facet name="header"><p:outputLabel value="Fecha Pedido" /></f:facet>
				<p:outputLabel id="fecha_pedido" value="#{pedido.fecha_pedido}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:outputLabel>
				<f:facet name="footer">
					<h:commandButton id="boton_siguiente" value="siguiente pagina"
						actionListener="#{datatable_pedidos_bean.pagina_siguiente}" />
				</f:facet>
			</p:column>
			<p:column id="col_porte">
				<f:facet name="header"><p:outputLabel value="Porte Pedido" /></f:facet>
				<p:outputLabel id="porte_pedido" value="#{pedido.porte_pedido}" />
			</p:column>
			<p:column id="col_seguro">
				<f:facet name="header"><p:outputLabel value="Seguro Pedido" /></f:facet>
				<p:outputLabel id="seguro_pedido" value="#{pedido.seguro_pedido}" />
			</p:column>
			<p:column id="col_otros_cargos">
				<f:facet name="header"><p:outputLabel value="Otros Cargos" /></f:facet>
				<p:outputLabel id="otros_cargos" value="#{pedido.otros_cargos_pedido}" />
			</p:column>
			<p:column id="col_total_cargos">
				<f:facet name="header"><p:outputLabel value="Total Cargos" /></f:facet>
				<p:outputLabel id="total_cargos" value="#{pedido.total_cargos_pedido}" />
			</p:column>
			<p:column id="col_total_bruto">
				<f:facet name="header"><p:outputLabel value="Total Bruto" /></f:facet>
				<p:outputLabel id="total_bruto" value="#{pedido.total_bruto_pedido}" />
			</p:column>
			<p:column id="col_porcentaje_iva">
				<f:facet name="header"><p:outputLabel value="Porcentaje Iva" /></f:facet>
				<p:outputLabel id="porcentaje_iva" value="#{pedido.porcentaje_iva_pedido}" />
			</p:column>
			<p:column id="col_iva">
				<f:facet name="header"><p:outputLabel value="Iva Pedido" /></f:facet>
				<p:outputLabel id="iva_pedido" value="#{pedido.iva_pedido}" />
			</p:column>
			<p:column id="col_total_factura">
				<f:facet name="header"><p:outputLabel value="Total Factura" /></f:facet>
				<p:outputLabel id="total_factura" value="#{pedido.total_factura_pedido}" />
			</p:column>
			<p:column id="col_cliente">
				<f:facet name="header"><p:outputLabel value="Cliente" /></f:facet>
				<f:facet name="footer"><p:outputLabel value="Total pedidos: " /></f:facet>
				<p:outputLabel id="cliente" value="#{pedido.cliente.codigo_cliente}" />
				<f:facet name="footer">
					<p:outputLabel value="#{datatable_pedidos_bean.lista_pedidos.size()}" />
				</f:facet>
			</p:column>
			<p:column>
				<f:facet name="header"><p:outputLabel value="Opciones" /></f:facet>
				<h:commandLink value="Eliminar"
					action="#{datatable_pedidos_bean.eliminar(pedido)}"
					onclick="return confirm('Estas seguro de eliminar el pedido?')" /> |
				<h:commandLink value="Modificar"
					action="#{datatable_pedidos_bean.modificar(pedido)}" />	
			</p:column>
		</h:dataTable>
	</h:form>
    </h:panelGroup>
    <h:panelGroup rendered="#{datatable_pedidos_bean.crear}">
        <p:outputLabel value="Agregar Pedido" />
	<h:form prependId = "false">
		<table style="width:100%">
		  <tr>
		    <td><p:outputLabel value="Cliente" /></td>
		    <td colspan="2">
				<h:selectOneMenu value="#{datatable_pedidos_bean.codigo_cliente}">
				    <f:selectItems value="#{datatable_pedidos_bean.lista_clientes}" var="cliente" itemValue="#{cliente.codigo_cliente}" itemLabel="#{cliente.nombre_cliente}" />
				</h:selectOneMenu>
			</td>
		    <td>&nbsp;</td>
		    <td><p:outputLabel value="Numero Pedido" /></td>
		    <td><p:outputLabel value="#{datatable_pedidos_bean.pedido.numero_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Dirección" /></td>
		    <td colspan="2"><p:outputLabel value="Ubicacion" /></td>
		    <td>&nbsp;</td>
		    <td><p:outputLabel value="Fecha Pedido" /></td>
		    <td><p:calendar id="agregar_fechaPedido" pattern="dd/MM/yyyy" value="#{datatable_pedidos_bean.pedido.fecha_pedido}" title="Fecha Pedido"  showOn="button"/></td>
		  </tr>
		  <tr>
		    <td colspan="6">&nbsp;</td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Linea Pedido" /></td>
		    <td><p:outputLabel value="Codigo" /></td>
		    <td><p:outputLabel value="Descripción" /></td>
		    <td><p:outputLabel value="Precio Unitario" /></td>
		    <td><p:outputLabel value="Cantidad" /></td>
		    <td><p:outputLabel value="Total" /></td>
		  </tr>
		  <tr>
		    <td>col1</td>
		    <td>col2</td>
		    <td>col3</td>
		    <td>col4</td>
		    <td>col5</td>
		    <td>col6</td>
		  </tr>
		  <tr>
		    <td colspan="6">&nbsp;</td>
		  </tr>
		  <tr>
		    <td colspan="4" rowspan="8">&nbsp;</td>
		    <td><p:outputLabel value="Total Bruto" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.total_bruto_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Porcentaje Iva" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.porcentaje_iva_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Iva Pedido" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.iva_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Porte Pedido" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.porte_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Seguro Pedido" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.seguro_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Otros Cargos" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.otros_cargos_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Total Cargos" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.total_cargos_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Total Factura" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.total_factura_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><h:commandButton value="Crear" action="#{datatable_pedidos_bean.crear()}" /></td>
		    <td><h:commandButton value="Cancelar" action="#{datatable_pedidos_bean.cambiar()}" /></td>
		    <td colspan="4">&nbsp;</td>
		  </tr>
		</table>
	</h:form>
    </h:panelGroup>
    <h:panelGroup rendered="#{datatable_pedidos_bean.modificar}">
        <p:outputLabel value="Modificando el pedido: #{datatable_pedidos_bean.pedido.numero_pedido}" />
	<h:form prependId = "false">
		<table style="width:100%">
		  <tr>
		    <td><p:outputLabel value="Cliente" /></td>
		    <td colspan="2">
				<h:selectOneMenu value="#{datatable_pedidos_bean.codigo_cliente}">
				    <f:selectItems value="#{datatable_pedidos_bean.lista_clientes}" var="cliente" itemValue="#{cliente.codigo_cliente}" itemLabel="#{cliente.nombre_cliente}" />
				</h:selectOneMenu>
			</td>
		    <td>&nbsp;</td>
		    <td><p:outputLabel value="Numero Pedido" /></td>
		    <td><p:outputLabel value="#{datatable_pedidos_bean.pedido.numero_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Dirección" /></td>
		    <td colspan="2"><p:outputLabel value="Ubicacion" /></td>
		    <td>&nbsp;</td>
		    <td><p:outputLabel value="Fecha Pedido" /></td>
		    <td><p:calendar id="modificar_fechaPedido" pattern="dd/MM/yyyy" value="#{datatable_pedidos_bean.pedido.fecha_pedido}" title="Fecha Pedido"  showOn="button"/></td>
		  </tr>
		  <tr>
		    <td colspan="6">&nbsp;</td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Linea Pedido" /></td>
		    <td><p:outputLabel value="Codigo" /></td>
		    <td><p:outputLabel value="Descripción" /></td>
		    <td><p:outputLabel value="Precio Unitario" /></td>
		    <td><p:outputLabel value="Cantidad" /></td>
		    <td><p:outputLabel value="Total" /></td>
		  </tr>
		  <tr>
		    <td>col1</td>
		    <td>col2</td>
		    <td>col3</td>
		    <td>col4</td>
		    <td>col5</td>
		    <td>col6</td>
		  </tr>
		  <tr>
		    <td colspan="6">&nbsp;</td>
		  </tr>
		  <tr>
		    <td colspan="4" rowspan="8">&nbsp;</td>
		    <td><p:outputLabel value="Total Bruto" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.total_bruto_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Porcentaje Iva" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.porcentaje_iva_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Iva Pedido" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.iva_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Porte Pedido" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.porte_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Seguro Pedido" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.seguro_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Otros Cargos" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.otros_cargos_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Total Cargos" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.total_cargos_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><p:outputLabel value="Total Factura" /></td>
		    <td><p:inputText value="#{datatable_pedidos_bean.pedido.total_factura_pedido}" /></td>
		  </tr>
		  <tr>
		    <td><h:commandButton value="Modificar" update="@form" actionListener="#{datatable_pedidos_bean.modificar()}" /></td>
		    <td><h:commandButton value="Cancelar" update="@form" actionListener="#{datatable_pedidos_bean.cambiar()}" /></td>
		    <td colspan="4">&nbsp;</td>
		  </tr>
		</table>
	</h:form>
    </h:panelGroup>
        <p:messages id="mensajes" showDetail="true" closable="true" style="width:100%"/>
</h:body>
</html>