<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Modulo 3</title>
    </h:head>
    <h:body>
        Página Principal
        <h:form>
            <p:commandLink value="Versión Final" action="principal?faces-redirect=true" /><br/><br/>
	        <h:link outcome="contenedor" value="Versión de Prueba" />
        </h:form>
    </h:body>
</html>