<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core" lang="en">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <h:outputStylesheet name="./css/default.css"/>
    <h:outputStylesheet name="./css/cssLayout.css"/>
	<!-- CARGA DE RECURSOS ESTATICOS -->
</h:head>
<h:body>
	<!-- FORMULARIO -->
	<h:form>
		<p:messages autoUpdate="true" />
		<!-- CONTENEDOR COMPONENTES -->
		<h:panelGrid columns="2" style="position: fixed; top: 40%; left: 40%;">
			<!-- COMPONENTES DEL FORMULARIO -->
			<p:outputLabel for="txtUsuario" value="Usuario: " />
			<p:inputText id="txtUsuario" value="#{login_bean.usuario.nombreUsuario}" required="true" />

			<p:outputLabel for="txtClave" value="Clave: " />
			<p:password id="txtClave" value="#{login_bean.usuario.password}" required="true" />
			
			<h:column />

			<p:commandButton value="Iniciar Sesión" icon="ui-icon-key" action="#{login_bean.iniciarSesion()}" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>