<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="/WEB-INF/templates/plantilla.xhtml">

            <ui:define name="content">
                <f:event type="preRenderView" listener="#{pedidos_bean.listar('F')}" />
                
                <p:growl id="msj" autoUpdate="true" showDetail="true" />
                
                <h:form>
		            <p:commandButton value="Nuevo" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgDatos').show();PF('statusDialog').hide();" actionListener="#{pedidos_bean.setAccion('Registrar')}" update=":dlgDatos" icon="fa fa-plus" />
		            
		            <p:dataTable id="data" value="#{pedidos_bean.lstPedidos}" var="pedido" paginator="true"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                     currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                     rowsPerPageTemplate="5,10,15" rows="10">
		                <p:column headerText="Codigo" >
		                    <p:outputLabel value="#{pedido.numero_pedido}" />
		                </p:column>
		                <p:column headerText="Fecha" >
							<p:outputLabel id="fecha_pedido" value="#{pedido.fecha_pedido}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:outputLabel>
		                </p:column>
		                <p:column headerText="Porte Pedido" style="text-align: right;">
		                   <p:outputLabel value="#{pedido.porte_pedido}" >
		                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
		                    </p:outputLabel>
		                </p:column>
		                <p:column headerText="Seguro Pedido" style="text-align: right;">
		                   <p:outputLabel value="#{pedido.seguro_pedido}" >
		                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
		                    </p:outputLabel>
		                </p:column>
		                <p:column headerText="Otros Cargos" style="text-align: right;">
		                   <p:outputLabel value="#{pedido.otros_cargos_pedido}" >
		                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
		                    </p:outputLabel>
		                </p:column>
		                <p:column headerText="Total Cargos" style="text-align: right;">
		                   <p:outputLabel value="#{pedido.total_cargos_pedido}" >
		                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
		                    </p:outputLabel>
		                </p:column>
		                <p:column headerText="Total Bruto" style="text-align: right;">
		                   <p:outputLabel value="#{pedido.total_bruto_pedido}" >
		                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
		                    </p:outputLabel>
		                </p:column>
		                <p:column headerText="Porcentaje Iva" style="text-align: center;">
		                    <p:outputLabel value="#{pedido.porcentaje_iva_pedido}" />
		                </p:column>
		                <p:column headerText="Iva Pedido" style="text-align: right;">
		                   <p:outputLabel value="#{pedido.iva_pedido}" >
		                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
		                    </p:outputLabel>
		                </p:column>
		                <p:column headerText="Total Factura" style="text-align: right;">
		                   <p:outputLabel value="#{pedido.total_factura_pedido}" >
		                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
		                    </p:outputLabel>
		                </p:column>
		                <p:column headerText="Cliente" style="text-align: center;">
		                    <p:outputLabel value="#{pedido.cliente.codigo_cliente}" />
		                </p:column>
		                <p:column headerText="Modificar">
		                    <p:commandButton value="Editar" actionListener="#{pedidos_bean.leerID(pedido)}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgDatos').show();PF('statusDialog').hide();" update=":dlgDatos" icon="fa fa-fw fa-edit" />
		                </p:column>
		                <p:column headerText="Eliminar">
		                    <p:commandButton value="Eliminar" actionListener="#{pedidos_bean.eliminar(pedido)}" onstart="PF('statusDialog').show();" oncomplete="PF('statusDialog').hide();" update="data" icon="fa fa-fw fa-remove" />
		                </p:column>
		            </p:dataTable>
                </h:form>

                <f:event type="preRenderView" listener="#{clientes_bean.listar('F')}" />
                <f:event type="preRenderView" listener="#{articulos_bean.listar('F')}" />
        <p:dialog header="Detalle del Pedido N°: #{pedidos_bean.pedido.numero_pedido}" widgetVar="wdlgDatos" id="dlgDatos" width="1210">
            <h:form id="frm">
                <p:outputLabel value="Cliente: " />
                <p:selectOneMenu value="#{pedidos_bean.cliente}" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem noSelectionOption="true" itemLabel="#{pedidos_bean.cliente.nombre_cliente}" itemValue="#{pedidos_bean.cliente}" />
                    <f:selectItems value="#{clientes_bean.lstClientes}" var="cli" itemLabel="#{cli.nombre_cliente}" itemValue="#{cli}" />
                </p:selectOneMenu>

                <p:outputLabel value="Articulo: " />
                <p:selectOneMenu value="#{pedidos_bean.articulo}" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem noSelectionOption="true" itemLabel="Seleccione" itemValue="#{null}" />
                    <f:selectItems value="#{articulos_bean.lstArticulos}" var="art" itemLabel="#{art.codigo_articulo} #{art.descripcion_articulo}" itemValue="#{art}" />
                </p:selectOneMenu>

                <p:outputLabel value="Cantidad: " />
	            <p:inputText id="number" value="#{pedidos_bean.numero_unidades_articulo}" />

                <p:commandButton value="Agregar" actionListener="#{pedidos_bean.agregar}" update="detalle" icon="fa fa-plus" />

                <p:outputLabel value="Fecha Pedido" />
				<p:calendar id="modificar_fechaPedido" pattern="dd/MM/yyyy" value="#{pedidos_bean.fecha_pedido}" title="Fecha Pedido"  showOn="button"/>
<br/><br/>
                <p:dataTable id="detalle" value="#{pedidos_bean.lista}" var="det" paginator="true"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                 rowsPerPageTemplate="5,10,15" rows="5">
                    <p:column headerText="Código Detalle" width="10%">
		                <p:outputLabel value="#{det.codigo_linea_pedido}" />
                    </p:column>
                    <p:column headerText="Código Articulo" width="10%">
		                <p:outputLabel value="#{det.articulo.codigo_articulo}" />
                    </p:column>
                    <p:column headerText="Nombre Articulo" width="40%">
		                <p:outputLabel value="#{det.articulo.descripcion_articulo}" />
                    </p:column>
                    <p:column headerText="Precio" style="text-align: right;" width="10%">
	                   <p:outputLabel value="#{det.articulo.precio_unidad_articulo}" >
	                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
	                    </p:outputLabel>
                     </p:column>
                    <p:column headerText="Cantidad" width="10%">
		                <p:outputLabel value="#{det.numero_unidades_articulo}" />
						<f:facet name="footer">
							<h:outputText value="TOTAL:" style="font-weight:bold" />
						</f:facet>
                    </p:column>
                    <p:column headerText="Total" style="text-align: right;" width="10%">
	                   <p:outputLabel value="#{det.articulo.precio_unidad_articulo * det.numero_unidades_articulo}" >
	                        <f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" />
	                    </p:outputLabel>
						<f:facet name="footer">
							<h:outputText value="#{pedidos_bean.total}" style="font-weight:bold">
								<f:convertNumber type="currency" currencySymbol="€ " minFractionDigits="2" maxFractionDigits="2"/>
							</h:outputText>
						</f:facet>
                    </p:column>
	                <p:column headerText="Eliminar" width="10%">
	                    <p:commandButton value="Eliminar" actionListener="#{pedidos_bean.borrar(det)}" update="detalle" icon="fa fa-fw fa-remove" />
	                </p:column>
                </p:dataTable>
                <p:commandButton value="#{pedidos_bean.accion}" actionListener="#{pedidos_bean.operar()}" onstart="PF('statusDialog').show();" oncomplete="PF('wdlgDatos').hide();" update=":frm:detalle" action="pedido?faces-redirect=true" />
                <p:commandButton value="Cancelar" immediate="true" oncomplete="PF('wdlgDatos').hide();"/>
            </h:form>
        </p:dialog>
            </ui:define>

        </ui:composition>

    </body>
</html>
