/*-- Estilos resalte mensajes --* /
/*-- fecha: 27-4-2017. -- */
/*-- version: 1 -- */
.estilo_warn {
	color: maroon;
}

.estilo_info {
	color: blue;
}

.estilo_fatal {
	color: silver;
}

.estilo_error {
	color: red;
}