<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Proyecto CRUD con JSF, Hibernate y Spring</title>
        <f:event type="preRenderView" listener="#{login_bean.verificarSesion()}" />
    </h:head>

    <h:body>
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
			        <ui:insert name="top">
			        </ui:insert>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
			        <ui:insert name="bottom">
			        	<h:form>
					        <h:outputLink value="http://www.facebook.com/angel.arroy0" target="_blank">http://www.facebook.com/angel.arroy0</h:outputLink>
			        	</h:form>
			        </ui:insert>
                </p:layoutUnit>
                <p:layoutUnit position="west" size="183" header="MENU" collapsible="true">
			            <h:form>
                    <p:menu>
                        <p:submenu label="MANTENIMIENTOS">
		                    <p:menuitem value="ARTICULOS" url="articulo.xhtml" icon="fa fa-taxi" />
		                    <p:menuitem value="CLIENTES" url="cliente.xhtml" icon="fa fa-user" />
		                    <p:menuitem value="PEDIDOS" url="pedido.xhtml" icon="fa fa-cart-plus" />
		                    <p:separator />
		                    <p:menuitem value="Cerrar Sesión" actionListener="#{login_bean.cerrarSesion()}" icon="ui-icon-key" />

                        </p:submenu>

                    </p:menu>
			            </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center">
					<p:dialog id="cargando" style="opacity: 0.5; padding: 0; margin: 0; border-style: none !important; box-shadow: none !important;" resizable="false" widgetVar="statusDialog" showHeader="false" draggable="false" modal="true">
						<p:graphicImage library="images" name="loading.gif" /> 
					</p:dialog>  
					<script>
					$(document).ready(function(){
						PF('statusDialog').hide();
					});
					
					$(window).bind('beforeunload', function() {
						PF('statusDialog').show();
					});
					</script>
                            <ui:insert name="content"></ui:insert>
                </p:layoutUnit>
            </p:layout>
    </h:body>

</html>
